/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color-brand:       $brand-color;
$color-red:         $color-brand;
$color-gray:        #444;
$color-gray-light:  #999;
$color-gray-ui:     #ddd;





// Page
$inuit-base-background-color:   white;
$inuit-base-text-color:         $color-gray;






// Links
$color-links:           $color-red;
$color-links-carousel:  $color-gray-ui;





// Text
$color-code:            $color-gray;





// Headings
$color-headings:    $color-gray;
$color-heading-sub: $color-gray-light;
