/**
 * #SETTINGS
 */
@import "bower_components/inuit-defaults/settings.defaults";
@import "settings.global";
@import "settings.colors";
@import "bower_components/inuit-responsive-settings/settings.responsive";





/**
 * #TOOLS
 */
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.aliases";





/**
 * #GENERIC
 */
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-shared/generic.shared";





/**
 * #BASE
 */
@import "bower_components/inuit-page/base.page";
@import "base.page";
@import "bower_components/inuit-headings/base.headings";
@import "bower_components/inuit-paragraphs/base.paragraphs";
@import "base.type";
@import "base.links";
@import "bower_components/inuit-lists/base.lists";
@import "bower_components/inuit-list-bare/objects.list-bare";
@import "bower_components/inuit-images/base.images";
@import "base.quotes";





$inuit-enable-layout--middle:   true;
$inuit-enable-layout--bottom:   true;
$inuit-enable-layout--large:    true;
@import "bower_components/inuit-layout/objects.layout";

@import "bower_components/inuit-box/objects.box";
@import "bower_components/inuit-media/objects.media";

$inuit-enable-flag--rev:        true;
$inuit-enable-flag--responsive: true;
$inuit-flag-collapse-at:        479px !default;
@import "bower_components/inuit-flag/objects.flag";


$inuit-list-ui-border-color:    $color-gray-ui;
$inuit-enable-list-ui--tiny:    true;
@import "bower_components/inuit-list-ui/objects.list-ui";


$inuit-enable-list-block--small:    true;
@import "bower_components/inuit-list-block/objects.list-block";


@import "bower_components/inuit-tabs/objects.tabs";






/**
 * #TRUMPS
 */
@import "bower_components/inuit-clearfix/trumps.clearfix";

$inuit-use-fractions:   false;
@import "bower_components/inuit-tools-widths/tools.widths";
@import "bower_components/inuit-widths/trumps.widths";
@import "trumps.widths-responsive";

$inuit-enable-margins:          true;
$inuit-enable-margins--huge:    true;
$inuit-enable-margins--none:    true;
@import "bower_components/inuit-spacing/trumps.spacing";




.brand {
  @include font-size(26px);
  border-top: 5px solid transparent;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.brand__link {
  color: $color-gray;
  @include attention() {
    text-decoration: none;
  }
  &:hover {
    .part--latter {
      color: $color-brand;
    }
  }
}
.part--former {
  @include font-weight(light);
}
.part--latter {
  @include font-weight(semi-bold);
  transition: 100ms color linear;
}

.wrapper {
  width: 60rem;
  margin: 0 auto;
  @include media-query(portable) {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.wrapper--small {
  width: 40rem;
  margin: 0 auto;
  @include media-query(portable) {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.main-container {
    margin-top: 2rem;
}

.section-heading {
    @include font-size(18px);
    margin-bottom: 0.5em;
}

.organization {
  @include font-size(18px);
  margin-bottom: 0;
  a {
    color: $color-gray;
    @include attention() {
      text-decoration: none;
    }
  }
}

.byline {
  margin-bottom: 10px;
}

.project {
  @include font-size(16px);
  @include font-weight(semi-bold);
}
