// SETTINGS
@import "settings/settings.config";
@import "../node_modules/inuitcss/settings/settings.core";
@import "settings/settings.global";
@import "settings/settings.colors";

// TOOLS
@import "../node_modules/inuitcss/tools/tools.font-size";
@import "../node_modules/inuitcss/tools/tools.clearfix";
@import "../node_modules/sass-mq/mq";
@import "tools/tools.aliases";
@import "tools/tools.mixins";

// GENERIC
@import "../node_modules/inuitcss/generic/generic.box-sizing";
@import "../node_modules/inuitcss/generic/generic.normalize";
@import "../node_modules/inuitcss/generic/generic.shared";

// ELEMENTS
@import "../node_modules/inuitcss/elements/elements.page";
@import "../node_modules/inuitcss/elements/elements.headings";
@import "elements/elements.links";
@import "elements/elements.quotes";

// OBJECTS
@import "../node_modules/inuitcss/objects/objects.layout";
@import "../node_modules/inuitcss/objects/objects.media";
@import "../node_modules/inuitcss/objects/objects.flag";
@import "../node_modules/inuitcss/objects/objects.list-bare";
@import "../node_modules/inuitcss/objects/objects.list-inline";
@import "../node_modules/inuitcss/objects/objects.box";
@import "../node_modules/inuitcss/objects/objects.block";
@import "../node_modules/inuitcss/objects/objects.table";

// UTILITIES
@import "../node_modules/inuitcss/utilities/utilities.widths";
@import "../node_modules/inuitcss/utilities/utilities.headings";
@import "../node_modules/inuitcss/utilities/utilities.spacings";

// Base
@import "base/base.page";
@import "base/base.links";
@import "base/base.quotes";
@import "base/base.type";

.brand {
  @include font-size(26px);
  border-top: 5px solid transparent;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.brand__link {
  color: $color-gray;
  @include attention() {
    text-decoration: none;
  }
  &:hover {
    .part--latter {
      color: $color-brand;
    }
  }
}
.part--former {
  @include font-weight(light);
}
.part--latter {
  @include font-weight(semi-bold);
  transition: 100ms color linear;
}

.header-container {
    height: 60px;
    background: #f1f1f1;
}

.wrapper {
  width: 60rem;
  margin: 0 auto;
  @include mq(tablet) {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.wrapper--small {
  width: 40rem;
  margin: 0 auto;
  @include mq(tablet) {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.main-container {
    margin-top: 2rem;
}

.section-heading {
    @include font-size(18px);
    margin-bottom: 0.5em;
}

.organization {
  @include font-size(18px);
  margin-bottom: 0;
  a {
    color: $color-gray;
    @include attention() {
      text-decoration: none;
    }
  }
}

.byline {
  margin-bottom: 10px;
}

.project {
  @include font-size(16px);
  @include font-weight(semi-bold);
}
