// SETTINGS
@import "settings/settings.config";
@import "../node_modules/inuitcss/settings/settings.core";
@import "settings/settings.global";
@import "settings/settings.colors"; // TOOLS
@import "../node_modules/inuitcss/tools/tools.font-size";
@import "../node_modules/inuitcss/tools/tools.clearfix";
@import "../node_modules/sass-mq/mq";
@import "tools/tools.aliases";
@import "tools/tools.mixins"; // GENERIC
@import "../node_modules/inuitcss/generic/generic.box-sizing";
@import "../node_modules/inuitcss/generic/generic.normalize";
@import "../node_modules/inuitcss/generic/generic.shared"; // ELEMENTS
@import "../node_modules/inuitcss/elements/elements.page";
@import "../node_modules/inuitcss/elements/elements.headings";
@import "elements/elements.links";
@import "elements/elements.quotes"; // OBJECTS
@import "../node_modules/inuitcss/objects/objects.layout";
@import "../node_modules/inuitcss/objects/objects.media";
@import "../node_modules/inuitcss/objects/objects.flag";
@import "../node_modules/inuitcss/objects/objects.list-bare";
@import "../node_modules/inuitcss/objects/objects.list-inline";
@import "../node_modules/inuitcss/objects/objects.box";
@import "../node_modules/inuitcss/objects/objects.block";
@import "../node_modules/inuitcss/objects/objects.table";
@import "../node_modules/inuitcss/objects/objects.wrapper"; // UTILITIES
@import "../node_modules/inuitcss/utilities/utilities.widths";
@import "../node_modules/inuitcss/utilities/utilities.headings";
@import "../node_modules/inuitcss/utilities/utilities.spacings"; // Base
@import "base/base.page";
@import "base/base.links";
@import "base/base.quotes";
@import "base/base.type";
/**
 * #SYNTAX
 */
@import "syntax";

body {
  background: $base-background-color;
}

.layout {
  width : 960px;
  margin: 0 auto;
}

h1 {
  @include font-size(24px);
}

h2 {
  @include font-size(21px);
}

h3 {
  @include font-size(16px);
  text-transform: uppercase;
}

.hollow {
  background: $color-brand;
  height    : 5px;
  width     : 100%;
}

.header-container {
  background: $base-header-color;
}

.brand {
  @include font-size(26px);
  border-top    : 5px solid transparent;
  margin        : 0;
  padding       : 0;
  text-transform: uppercase;
  text-align    : left;
  @include mq(mobile, desktop) {
    text-align: center;
  }
}

.brand__link {
  color     : $color-gray;
  transition: $global-transition;
  @include attention() {
    text-decoration: none;

    .part--latter {
      color: $color-brand;
    }
  }
}

.part--former {
  @include font-weight(light);
}

.part--latter {
  @include font-weight(semi-bold);
  transition: 100ms color linear;
}

.nav {
  @extend .o-list-inline;
  text-align: center;
}

.tabs__item {
  @extend .o-list-inline__item;
  @extend .u-padding-left-small;
  @extend .u-padding-right-small;
}

.tabs__link {
  @include font-size(13px);
  border-top    : 4px solid transparent;
  color         : $color-gray;
  padding-top   : 1rem;
  text-transform: uppercase;
  transition    : $global-transition;
  @include attention() {
    @include mq(desktop) {
      border-top-color: $color-brand;
    }
    text-decoration: none;
  }
}

.list-block__link {
  display: block;
}

.wrapper {
  @extend .o-wrapper;
  max-width: 60rem;
  margin   : 0 auto;
}

.wrapper--small {
  @extend .o-wrapper;
  max-width: 40rem;
  margin   : 0 auto;
}

.accessibility {
  display: none;

  .me-again {
    background-image: url("/images/me-again.jpg");
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.img--round {
  border-radius: $base-round;
}

.img--self {
  margin-left : -136px;
  margin-right: 0;
  width       : 120px;
  @include mq(mobile) {
    display: none;
  }
}

.title--page,
.title--post {
  @include font-size(32px);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title--date {
  @include font-size(18px);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.list {
  @extend .o-list-bare;
  padding-left: 0;
}

.list-item {
  @extend .o-list-bare__item;
  border-left  : 4px solid transparent;
  padding-left : 16px;
  margin-left  : -16px;
  margin-bottom: 40px;
  transition   : $global-transition;
  @include attention() {
    border-left-color: lighten($color-gray-ui, 10%);
  }
}

.list-item__link {
  display        : block;
  text-decoration: none;
  color          : inherit;
  @include attention() {
    color          : inherit;
    text-decoration: none;
  }
}

.list-item__title {
  @include font-size(21px);
  letter-spacing: 1px;
  margin-bottom : 24px;
  color         : $color-gray;

  a {
    color     : $color-gray;
    transition: $global-transition;
    @include attention() {
      text-decoration: none;
    }
  }
}

.list-item__date {
  color         : $color-gray-light;
  @include font-size(14px);
  @include font-weight(semi-bold);
  margin-bottom : 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.list-item__content {
  @include font-size(24px, 32px);
  @include font-weight(light);
  color: lighten($color-gray, 20%);
}

.archive-list {
  @extend .o-list-bare;
  padding-left: 0;
}

.archive-list-item {
  @extend .o-list-bare__item;
  border-left  : 4px solid transparent;
  padding      : 16px;
  margin-left  : -16px;
  margin-bottom: 24px;
  transition   : $global-transition;
  @include attention() {
    color            : lighten($color-red, 10%);
    border-left-color: lighten($color-red, 10%);
  }
}

.archive-list-item__link {
  display        : block;
  cursor         : pointer;
  text-decoration: none;
  color          : $color-gray;
  transition     : $global-transition;
  @include attention() {
    text-decoration: none;
  }
}

.archive-list-item__title {
  @include font-size(24px);
}

.archive-list-item__date {
  text-align    : right;
  @include font-size(18px);
  text-transform: uppercase;
  letter-spacing: 1px;
  color         : lighten($color-gray, 20%);
  @include mq(mobile) {
    text-align: left;
  }
}

.box--highlite {
  @extend .o-box;
  background: lighten($color-gray-ui, 10%);
}

.main-container {
  margin-top: 4rem;
}

.margin--top {
  margin-top: 1rem;
}

.margin--bottom {
  margin-bottom: 1rem;
}

.space {
  margin-bottom: 2rem;
}

blockquote {
  padding-left: 1rem;
  border-left : 2px solid $color-gray-ui;
  font-style  : italic;

  p {
    @include font-size(18px);
  }
}

.muted {
  color: lighten($color-gray, 10%);
}

.lede {
  @include font-size(28px, 26px);
  color      : lighten($color-gray, 10%);
  margin-top : 0;
  line-height: 1.5;
}

.media {
  img {
    max-width: 100%;
  }
}