@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 * 
 * sass --watch style.scss:style.min.css --style compressed
 * 
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

/**
 * Helpers
 */

@mixin sans {
  font-family: $sans;
}

@mixin slab {
  font-family: $slab;
}

/**
 * $CONTENT-AREAS
 */

body {
  background: $white;
  color: $gray;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
  padding-right: 1.5rem;
}

footer {
  a {
    color: $color-3;
    &:hover {
      color: darken($color-3, 10%);
    }
  }
}

.main-container {
  margin-bottom: 1rem;
}

.navbar {
  margin-top: 32px;
  margin-top: 2rem;
}

/**
 * ~LOGO
 */

.logo {
  margin: 1rem 0 0;
  width: 200px;
  max-width: 200px;
}

/**
 * $TYPOGRAPHY
 */
body {
  @include sans;
}

h1, h2, h3, h4, h5, h6 {
  @include slab;
  font-weight: 500;
  color: #3d3d3d;
}

.lede,
.lead {
  @include slab;
  @include font-size($base-font-size * 1.25);
  color: lighten($gray, 10%);
}

/**
 * $LINKS
 */

a {
  color: $color-2;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  @include vendor(transition, all 250ms linear);
  &:hover {
    color: darken($color-2, 20%);
    text-decoration: none;
    border-bottom: 2px solid lighten($gray, 60%);
  }
  &:active {
    color: ligten($color-2, 20%);
    background: rgba($color-2, 0.1);
    text-decoration: none;
  }
}

.post_title, .page_title {
  font-weight: 700;
  a:hover {
    text-decoration: none;
  }
}

/**
 * $NAV
 */

.nav {
  a {
    color: $color-3;
    border-bottom: 3px solid $color-3;
    &:hover {
      color: darken($color-3, 10%);
      border-bottom: 3px solid darken($color-3, 10%);
    }
    &:active {
      color: $gray;
      border-bottom: 3px solid $color-2;
    }
  }
}

/**
 * $SECTIONS
 */

.post--header {
  margin-bottom: 1em;
}

.poetry {
  @include slab;
  text-align: center;
}

/**
 * $POST
 */

.post_title {
  color: darken($color-2, 10%);
}

.meta {
  .date, .category, .tags {
    font-style: italic;
  }
}

/**
 * $MISC
 */

.about-me {
  @include slab;
  @include font-size($base-font-size * 1.15);
  color: lighten($gray, 10%);
}

.highlight {
  color: $color-1;
}

.subtle {
  color: #999;
}

.archive, .home {
  .split__detail {
    color: $color-1;
  }
}

.meta--info {
  background: lighten(rgba($color-2, 0.15), 50%);
  border-radius: 5px;
}

.note {
  background: rgba($color-2, 0.15);
  border-bottom: 1px solid rgba($color-2, 0.25);
}

blockquote {
  border-left: 0.25rem solid lighten($color-1, 20%);
  padding-left: 1rem;
  margin-left: 1rem;
  @include vendor(transition, border-color 250ms linear);
  &:hover {
    border-color: $color-1;
  }
}

::selection, ::-moz-selection, ::-webkit-selection {
  color: #FAFAFA;
  background: lighten($color-1, 10%);
}

.full-width {
  width: 100%;
}

.zen-space {
  background: $color-1;
  height: 5px;
}

/**
 * $MEDIA_QUERIES
 */

@include media-query(portable) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
  }
  .portable-nav--stacked {
        text-align:center;
  }
  .portable-text-cols--1 {
    @include vendor(column-count, 1);
  }
  .navbar {
    margin-top: 0;
  }
}

@include media-query(palm) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
  }
  .split {
    text-align: left;
    .split__detail {
      color: #999;
      margin-left: 0;
      &::before {
        content: "-";
        margin-left: 0.5rem;
      } 
    }
  }
  .img--short{
    height: auto;
      max-height:5 * $base-spacing-unit;
  }
  .img--medium{
    height: auto;
      max-height:10 * $base-spacing-unit;
  }
  .img--tall{
    height: auto;
      max-height:15 * $base-spacing-unit;
  }
}

/**
 * $RESUME
 */

.resume {
  max-width: 44rem;
  margin: 0 auto;
  .nav {
    li:first-child:before {
      content: none;
    }
    li:before {
      content: ' ♦ ';
      color: $brand-color;
      @include font-size(10px);
    }
  }
}

/**
 * BOASTFUL
 */

.boastful {
  display: inline;
  font-family: $slab;
  img{
    width: 48px;
    height: 48px;
    margin: 3px;
    border: 0;
    border-radius: 7px 0 7px 0;
  }
  .boastful_pointer{
    position: absolute;
    z-index: 999;
    left: -9999px;
    opacity: .7;
    display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
    border-top: 0;
  }
  .boastful_tweet{
    position: absolute;
    z-index: 999;
    left: -9999px;
    background-color: $gray;
    opacity: .8;
    padding: 5px;
    width: 250px;
    @include font-size($base-font-size * 0.8);
    text-shadow: 1px 1px 0 #000;
    color: #eee;
    border-radius: 7px;
  }
  .boastful_handle{
    @include font-size($base-font-size * 0.9);
    font-weight: bold;
  }
}

/**
 * GitHub theme
 * for rainbow.js
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
  border: 1px solid #ccc;
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px;

  code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }

  .comment {
    color: #998;
  }

  .support {
    color: #0086B3;
  }

  .tag, .tag-name {
    color: navy;
  }

  .keyword, .css-property, .vendor-fix, .sass, .class, .id, .css-value, .entity.function, .storage.function {
    font-weight: bold;
  }

  .css-property, .css-value, .vendor-prefix, .support.namespace {
    color: #333;
  }

  .constant.numeric, .keyword.unit, .hex-color {
    font-weight: normal;
    color: #099;
  }

  .entity.class {
    color: #458;
  }

  .entity.id, .entity.function {
    color: #900;
  }

  .attribute, .variable {
    color: teal;
  }

  .string, .support.value  {
    font-weight: normal;
    color: #d14;
  }

  .regexp {
    color: #009926;
  }
}

code {
  border: 1px solid #eaeaea;
  margin: 0px 2px;
  padding: 0px 5px;
  font-size: 12px;
}

pre, code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre, pre code {
  font-size: 13px;
}