@charset "UTF-8";
/*------------------------------------*\
    RAWRRR.CSS
\*------------------------------------*/

/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";

body {
	max-width: 60rem;
	margin: 0 auto;
	padding: 1.618rem;
	background: #FAFAFA;
}

footer {
	text-align: center;
	a {
		color: $color-3;
		&:hover {
			color: darken($color-3, 10%);
		}
	}
}

.main-container {
	margin-bottom: 1rem;
}

.navbar {
	margin-top: 16px;
	margin-top: 1rem;
}

/**
 * ~LOGO
 */

.brand a {
	color: $brand-color;
	font-weight: 700;
	.part {
		color: $color-4;
	}
	&:hover {
		color: darken($brand-color, 20%);
		text-decoration: none;
	}
	&:active {
		color: $color-2;
		text-decoration: none;
	}
}

/**
 * $TYPOGRAPHY
 */
body {
	font-family: $serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $slab;
	font-weight: 500;
	color: #3d3d3d;
}

.serif {
	font-family: $serif;
}

.slab {
	font-family: $slab;
}

/**
 * $LINKS
 */

a {
	color: $color-2;
	@include vendor(transition, all 250ms linear);
	&:hover {
		color: darken($color-2, 20%);
	}
	&:active {
		color: ligten($color-2, 20%);
		text-decoration: none;
		background: rgba($color-2, 0.1);
		border-radius: 5px;
	}
}

.post_title, .page_title {
	font-weight: 700;
	a:hover {
		text-decoration: none;
	}
}

/**
 * $NAV
 */

.nav {
	a {
		color: $color-3;
		&:hover {
			color: darken($color-3, 10%);
		}
		&:active {
			background: rgba($brand-color, 0.1);
		}
	}
}

/**
 * $SECTIONS
 */

.post--header {
	margin-bottom: 1em;
}

.poetry {
	font-style: italic;
}

/**
 * $POST
 */

.post_title {
	color: darken($color-2, 10%);
}

.meta {
	.date, .category, .tags {
		font-style: italic;
	}
}

/**
 * $MISC
 */

.meta--info {

}

.highlight {
	color: $color-1;
}

.archive, .home {
	.split__detail {
		color: $color-1;
	}
}

.note {
	background:  rgba($color-2, 0.15);
	border-bottom: 1px solid rgba($color-2, 0.25);
}

blockquote {
	border-left: 0.25rem solid lighten($color-1, 20%);
	padding-left: 1rem;
	margin-left: 1rem;
	@include vendor(transition, border-color 250ms linear);
	&:hover {
		border-color: $color-1;
	}
}

::selection, ::-moz-selection, ::-webkit-selection {
	color: #FAFAFA;
	background: lighten($color-1, 10%);
}

/**
 * $MEDIA_QUERIES
 */

@include media-query(portable) {
	.navbar ul {
		text-align: center !important;
		border: 0 solid #ccc;
		list-style: none;
		margin-left: 0;
		border-top-width: 1px;
		li {
			display: block !important;
			border: 0 solid #ccc;
			border-bottom-width: 1px;
    		padding: 12px;
    		a {
    			display: block !important;
				padding: 12px;
				margin: -12px;
    		}
		}
	}
}

/**
 * $RESUME
 */

.resume {
	max-width: 44rem;
	.nav {
		li:first-child:before {
			content: none;
		}
		li:before {
			content: ' ♦ ';
			color: $brand-color;
			@include font-size(10px);
		}
	}
}

/**
 * BOASTFUL
 */

.boastful {
	display: inline;
	img{
		width: 48px;
		height: 48px;
		margin: 3px;
		border: 0;
		border-radius: 7px 0 7px 0;
	}
	.boastful_pointer{
		position: absolute;
		z-index: 999;
		left: -9999px;
		opacity: .7;
		display: none;
		width: 0;
		height: 0;
		border-left: 10px solid transparent; 
		border-right: 10px solid transparent;
		border-bottom: 10px solid #000;
		border-top: 0;
	}
	.boastful_tweet{
		position: absolute;
		z-index: 999;
		left: -9999px;
		background-color: #222;
		opacity: .8;
		padding: 5px;
		width: 250px;
		font-size: 11px;
		text-shadow: 1px 1px 0 #000;
		color: #eee;
		border-radius: 7px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
	}
	.boastful_handle{
		font-size: 13px;
		font-weight: bold;
	}
}