@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 * 
 * sass --watch rawrrr.scss:your-project.min.css --style compressed
 * 
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

body {
	max-width: 60rem;
	margin: 0 auto;
	padding: 1.618rem;
	background: #FAFAFA;
}

footer {
	text-align: center;
	a {
		color: $link-color-2;
		&:hover {
			color: darken($link-color-2, 10%);
		}
	}
}

.main-container {
	margin-bottom: 1rem;
}

.navbar {
	margin-top: 16px;
	margin-top: 1rem;
}

.brand a {
	color: $brand-color;
	&:hover {
		color: darken($brand-color, 20%);
		text-decoration: none;
	}
}

/**
 * $TYPOGRAPHY
 */
body {
	font-family: $serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $slab;
	font-weight: 500;
	color: #3d3d3d;
}

/**
 * $LINKS
 */

a {
	color: $link-color;
	@include vendor(transition, color 250ms linear);
	&:hover {
		color: darken($link-color, 10%);
	}
}

.post_title, .page_title {
	a:hover {
		text-decoration: none;
	}
}

/**
 * $NAV
 */

.nav {
	a {
		color: $link-color-2;
		&:hover {
			color: darken($link-color-2, 10%);
		}
	}
}

/**
 * $SECTIONS
 */

.post--header {
	margin-bottom: 1em;
}

.poetry {
	font-style: italic;
}

/**
 * $POST
 */

.post_title {
	color: $title-color;
}

.meta {
	.date, .category, .tags {
		font-style: italic;
	}
}

/**
 * $MISC
 */

.meta--info {

}

.highlight {
	color: $base-color;
}

.archive, .home {
	.split__detail {
		color: $base-color;
	}
}

blockquote {
	border-left: 0.25rem solid lighten($base-color, 20%);
	padding-left: 1rem;
	margin-left: 1rem;
	@include vendor(transition, border-color 250ms linear);
	&:hover {
		border-color: $base-color;
	}
}

::selection, ::-moz-selection, ::-webkit-selection {
	color: #FAFAFA;
	background: lighten($base-color, 10%);
}

/**
 * $MEDIA_QUERIES
 */

@media only screen and (max-width: 760px) {
	body { width: 90% !important; }
	.g { width: 100% !important; }
	.logo { width: 50%; }
	.navbar ul {
		text-align: center !important;
		border: 0 solid #ccc;
		list-style: none;
		margin-left: 0;
		border-top-width: 1px;
		li {
			display: block !important;
			border: 0 solid #ccc;
			border-bottom-width: 1px;
    		padding: 12px;
    		a {
    			display: block !important;
				padding: 12px;
				margin: -12px;
    		}
		}
	}
}

/**
 * $RESUME
 */

.resume {
	max-width: 44rem;
	.nav {
		li:first-child:before {
			content: none;
		}
		li:before {
			content: ' ♦ ';
			color: $brand-color;
			@include font-size(10);
		}
	}
}