@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 * 
 * sass --watch rawrrr.scss:your-project.min.css --style compressed
 * 
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";


/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

body {
	width: 960px;
	margin: 0 auto;
	background: #f6f6f6;
}

footer {
	text-align: center;
	a {
		color: $red-color;
		&:hover {
			color: darken($red-color, 10%);
		}
	}
}

.header-container, .main-container {
	margin-bottom: 48px;
  	margin-bottom: 3rem;
}

/**
 * $TYPOGRAPHY
 */
body {
	font-family: $serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $slab;
	color: #3d3d3d;
}

/**
 * $LINKS
 */

a {
	color: $base-color;
}

a:hover {
	color: darken($base-color, 10%);
}

/**
 * $NAV
 */

.nav {
	a {
		color: $red-color;
		&:hover {
			color: darken($red-color, 10%);
		}
	}
}

/**
 * $SECTIONS
 */

.post--header {
	margin-bottom: 1em;
}

.poetry {
	font-style: italic;
}

.info-on-me {
}

/**
 * $POST
 */

.post_title {
	color: $red-color;
}

.meta {
	.date, .category {
		font-style: italic;
	}
}

/**
 * $MISC
 */

::selection, ::-moz-selection, ::-webkit-selection {
	color: #f3f3f3;
	background: lighten($red-color, 10%);
}