///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/
$brand-round      : 3px;
$base-round       : $brand-round;
$global-transition: all 300ms ease-in-out !default;