/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$brand-color:       #d62a49;
$color-brand:       $brand-color;
$color-red:         $color-brand;
$color-gray:        #444;
$color-gray-light:  #999;
$color-gray-ui:     #ddd;





// Page
$base-header-color:       #f1f1f1;
$base-background-color:   #fefefa;
$base-text-color:         $color-gray;






// Links
$color-links:           $color-red;
$color-links-carousel:  $color-gray-ui;





// Text
$color-code:            $color-gray;





// Headings
$color-headings:    $color-gray;
$color-heading-sub: $color-gray-light;
