// Mixins

@mixin content {
  font-family: $content;
  font-weight: 300;
}

@mixin headings {
  font-family: $headings;
  font-weight: 400;
}

@mixin focus-block($bg: $red) {
  background: lighten($bg, 10%);
  color: $white;
  &:hover {
    background: $bg;
    color: $white;
  }
}

@mixin wrap($width: 45rem) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}