// Mixins

@mixin content {
  font-family: $content;
}

@mixin headings {
  font-family: $headings;
}

@mixin focus-block($bg: $red) {
  background: lighten($bg, 10%);
  color: $white;
  &:hover {
    background: $bg;
    color: $white;
  }
}