// Typography

body {
  @include content;
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta {
  @include headings;
}

h5, .epsilon,
h6, .zeta {
  font-weight: 300;
}

strong {
  font-weight: bold;
  font-weight: 400;
}

.lead {
  @include font-size($base-font-size * 1.375);
  line-height: 1.5;
}

p {
  @include font-size($base-font-size * 1.2, true);
}