// Typography

body {
  @include content;
}

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  @include headings;
  font-weight: 300;
}

strong {
  font-weight: bold;
}

.lead {
  @include font-size($base-font-size * 1.25);
  line-height: 1.6;
}

p {
  @include font-size($base-font-size * 1.15);
}