// Miscellaneous

.full-width {
  width: 100%;
}

.zen-space {
  background: lighten($red, 10%);
  height: 5px;
}

ul {
  > li {
    list-style-type: square;
  }
}

.block-list, .nav {
  li {
    list-style-type: none;
  }
}