/**
 * Fonts
 */
$content:           "source-sans-pro", "Segoe UI", 'Ubuntu Light', Helvetica, Arial, sans-serif;
$headings:          $content;

/**
 * Base Colors
 */


/**
 * Overrides
 */

$use-grids:         true;
$use-nav:           true;
$use-media:         true;
$use-island:        true;
$use-block-list:    true;