/**
 * Fonts
 */
$content:           "museo-sans", Helvetica, Arial, sans-serif;
$headings:          $content;




/**
 * Base Colors
 */

$black:             black;
$white:             white;

$grey:              #3c3c3c;




/**
 * Base stuff
 */
$base-font-size:    18px!default;
$base-line-height:  24px!default;

/**
 * Base font-family.
 */
$base-font-family:  sans-serif;

/**
 * Default colour for objects’ borders etc.
 */
$base-ui-color:     $grey;




/**
 * Brand stuff
 */
$brand-color:       #4a8ec2!default;
$brand-face:        $content;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px;




/**
 * Overrides
 */

$use-grids:         true;
$use-nav:           true;
$use-media:         true;
$use-island:        true;
$use-block-list:    true;