// variables and overrides
@import "vars";


// inuit.css core
@import "inuit.css/inuit";


// Globals
@import "globals/typography";
@import "globals/layout";
@import "globals/links";


// Shared
@import "shared/brand";
@import "shared/selection";


// Code highlite
@import "syntax";


.brand {
  text-transform: uppercase;
  @include font-size($base-font-size * 1.5);
  letter-spacing: -1px;
  padding: 12px;
  .part--latter {
    transition: color 100ms linear;
  }
  &:hover {
    text-decoration: none;
    .part--latter {
      color: $primary;
    }
  }
}

.title--page,
.title--post {
  @include font-size($base-font-size * 2);
  color: $secondary;
}

.list {
  @extend .block-list;
  border: none;
  > li {
    border-bottom: none;
    border-left: 1px solid darken($light-gray, 10%);
    margin-bottom: 1rem;
  }
  .list__date {
    @include font-size($base-font-size * 0.8);
    margin-bottom: 0.25rem;
  }
  .list__title {
    margin-bottom: 0.5rem;
    > a {
      color: $secondary;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .list__content {
    p {
      margin-bottom: 0;
    }
  }
}

.hollow {
  background: $primary;
  height: 5px;
  margin-bottom: 1rem;
}

::selection {
  background: $dark-gray;
  color: $light-gray;
}
