// variables and overrides
@import "vars";

// inuit.css core
@import "inuit.css/inuit";


// Globals
@import "globals/typography";
@import "globals/layout";
@import "globals/links";

// Code higlite
@import "syntax";

.title--page,
.title--post {
  text-align: center;
}

::selection {
  background: $grey;
  color: $white;
}