/**
 * Brand
 */

.brand {
  text-transform: uppercase;
  @include font-size($base-font-size * 1.5);
  letter-spacing: -1px;
  padding: 12px;
  .part--latter {
    transition: color 100ms linear;
  }
  &:hover {
    text-decoration: none;
    .part--latter {
      color: $primary;
    }
  }
}