// Media Queries

@include media-query(portable) {
  .logo {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@include media-query(palm) {
  .logo {
    max-width: 100px;
  }
  .split {
    text-align: left;
    .split__detail {
      color: #999;
      margin-left: 0;
      &::before {
        content: "-";
        margin-left: 0.5rem;
      }
    }
  }
  .palm-nav--stacked {
    text-align: center;
  }
  .navbar {
    .nav {
      li {
        display: list-item;
        a {
          display: block;
          // border-bottom: none;
        }
      }
    }
  }
  .img--short{
    height: auto;
      max-height:5 * $base-spacing-unit;
  }
  .img--medium{
    height: auto;
      max-height:10 * $base-spacing-unit;
  }
  .img--tall{
    height: auto;
      max-height:15 * $base-spacing-unit;
  }
}