/**
 * Fonts
 */
$headings:          "Cubano", "Segoe UI", 'Ubuntu Light', Helvetica, Arial, sans-serif;
$content:           "source-sans-pro", "Segoe UI", 'Ubuntu Light', Helvetica, Arial, sans-serif;

/**
 * Base Colors
 */
$blue:              #037F8C;
$red:               #BF2C47;

$white:             #FAFAFA;
$gray:              #4d4d4d;

/**
 * Overrides
 */

$use-grids:         true;
$use-nav:           true;
$use-media:         true;
$use-island:        true;
$use-block-list:    true;
$use-split:         true;
$use-rules:         true;