/**
 * Fonts
 */
$content:           "source-sans-pro", "Segoe UI", 'Ubuntu Light', Helvetica, Arial, sans-serif;
$headings:          $content;

/**
 * Base Colors
 */
$blue:              #037F8C;
$red:               #BF2C47;

$white:             #FAFAFA;
$gray:              #1d1d1d;

/**
 * Overrides
 */

$english-quotes:    false;

$use-grids:         true;
$use-nav:           true;
$use-media:         true;
$use-island:        true;
$use-block-list:    true;
$use-link-complex:  true;
$use-rules:         true;
$use-marginalia:    true;