// Variables and overrides
@import "vars";

// inuit.css core
@import "inuit.css/inuit";

// base
@import "base/mixins";
@import "base/links";
@import "base/typography";

// miscellaneous
@import "misc/miscellaneous";
@import "misc/selection";

body {
  background: $white;
  color: $gray;
  text-align: justify;
}

.resume {
  .wrapper {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    @include content;
    color: #3d3d3d;
  }
}