// Variables and overrides
@import "vars";

// inuit.css core
@import "inuit.css/inuit";

// base
@import "base/mixins";
@import "base/colors";
@import "base/links";
@import "base/typography";

// miscellaneous
@import "misc/miscellaneous";
@import "misc/selection";

.wrapper {
  @include wrap(35rem);
  padding-right: 1.5rem;
}

.tagline {
  @include font-size($base-font-size * 1.375);
  line-height: 1.5;
  background: darken($white, 5%);
  border-bottom: 2px solid $blue;
}

.sub-section {
  margin-bottom: 48px;
  margin-bottom: 3rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

@include media-query(palm) {
  .palm-nav--stacked {
    text-align: center;
  }
  .navbar {
    .nav {
      li {
        display: list-item;
        a {
          display: block;
        }
      }
    }
  }
}