// variables and overrides
@import "vars";

// inuit.css core
@import "inuit.css/inuit";

// base
@import "base/layout";
@import "base/mixins";
@import "base/colors";
@import "base/links";
@import "base/typography";

// areas
@import "areas/header";
@import "areas/content";
@import "areas/footer";

// elements
@import "elements/navbar";
@import "elements/blockquote";

// miscellaneous
@import "misc/miscellaneous";
@import "misc/selection";
@import "misc/highlight";
@import "misc/code-theme";

// responsive
@import "responsive";

article[role="main"], .info-bar {
  a {
    font-weight: bold;
  }
}

.main-container {
  margin-bottom: 1rem;
}

.navbar {
  @include headings;
}

.footer-container {
}

.info-bar {
  background: darken($blue, 10%);
  padding: 1rem 0;
  margin-bottom: 1rem;
  .section-heading {
    @include content;
  }
  .section-heading, p {
    color: $white;
  }
  a {
    color: $white;
    border-bottom: 1px solid $white;
    &:hover {
      color: $white;
      text-decoration: none;
      border-bottom: 1px solid darken($blue, 20%);
    }
    &.highlight {
    background: rgba($white, 0.25);
    padding: 0 5px;
    @include vendor(border-radius, 5px);
      &:hover {
        background: rgba($white, 0.35);
      }
    }
  }
}

.recent-posts {
  border: none;
  li {
    border: none;
  }
  li:nth-of-type(n+1) .highlight {
    color: $red;
  }
  li:nth-of-type(n+2) .highlight {
    color: lighten($red, 5%);
  }
  li:nth-of-type(n+3) .highlight {
    color: lighten($red, 10%);
  }
  li:nth-of-type(n+4) .highlight {
    color: lighten($red, 15%);
  }
  li:nth-of-type(n+5) .highlight {
    color: lighten($red, 20%);
  }
}

.logo {
  width: 100px;
  max-width: 100px;
}

.page_title {
}

.post_title {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.post--header {
  margin-bottom: 1em;
}

.poetry {
  text-align: center;
}

.topic {
  @include headings;
}

.post_title {
  color: darken($blue, 10%);
}

.meta {
  .date, .category, .tags {
    font-style: italic;
  }
}

.archive, .home {
  .split__detail {
    color: $red;
  }
}

.highlight--block {
  @include focus-block();
}