/*
 * Includes all of Inuit
 * Define custom variables that overwrite Inuit's defaults
 * Any Inuit variables not overwritten shall use the defaults
 */

// Variables
@import "vars";

/* All of Inuit.css
 * This could be made nicer by moving vars into the inuit.css subfolder
 * and including it at the top of inuit.scss, as per justnorris's pull request
 * https://github.com/csswizardry/inuit.css/pull/105
 *
 * Because vendor/inuit.css is added to sass's load path then we don't need to
 * prefix everything with '../../vendor/inuit.css'. Inuit's vars.scss should be
 * moved into the inuit.css subfolder to make it obvious that these are inuit's
 * default variables
 */
@import "inuit.css/inuit";

// You own imports / custom code here

/**
 * Helpers
 */

@mixin content {
  font-family: $content;
}

@mixin headings {
  font-family: $headings;
}

/**
 * $CONTENT-AREAS
 */

body {
  background: $white;
  color: $gray;
}

.wrapper {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  &.wrapper--big {
    max-width: 60rem;
  }
}

footer {
  a {
    color: $color-3;
    &:hover {
      color: darken($color-3, 10%);
    }
  }
}

.main-container {
  margin-bottom: 1rem;
}

.navbar {
  @include headings;
  .nav {
    float: right;
  }
}

.footer-container {
}

.info-bar {
  background: darken($color-2, 10%);
  padding: 1rem 0;
  margin-bottom: 1rem;
  .section-heading, p {
    color: $white;
  }
  a {
    font-weight: bold;
    color: $white;
    border-bottom: 1px solid $white;
    &:hover {
      color: $white;
      text-decoration: none;
      border-bottom: 1px solid darken($color-2, 20%);
    }
    &.highlight {
    background: rgba($white, 0.25);
    padding: 0 5px;
    @include vendor(border-radius, 5px);
      &:hover {
        background: rgba($white, 0.35);
      }
    }
  }
}

/**
 * ~LOGO
 */

.logo {
  width: 100px;
  max-width: 100px;
}

/**
 * $TYPOGRAPHY
 */
body {
  @include content;
}

h1, h2, h3, h4, h5, h6 {
  @include headings;
  color: #3d3d3d;
}

.lede,
.lead {
  @include font-size($base-font-size * 1.25);
  color: lighten($gray, 10%);
}

/**
 * $LINKS
 */

a {
  color: $color-2;
  text-decoration: none;
  @include vendor(transition, all 100ms linear);
  &:hover {
    color: darken($color-2, 20%);
  }
  &:active {
    color: ligten($color-2, 20%);
    background: rgba($color-2, 0.1);
  }
}

.page_title {
  @include font-size($base-font-size * 4);
}

.post_title {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

/**
 * $NAV
 */

.navbar {
  li {
    padding: 0 1rem 0 0;
  }
  a {
    color: $color-3;
    border-bottom: 3px solid $color-3;
    &:hover {
      color: darken($color-2, 10%);
      border-bottom: 3px solid darken($color-2, 10%);
      text-decoration: none;
    }
    &:active {
      color: $gray;
      border-bottom: 3px solid $color-2;
    }
  }
}

/**
 * $SECTIONS
 */

.post--header {
  margin-bottom: 1em;
}

.poetry {
  text-align: center;
}

.topic {
  @include headings;
}

/**
 * $POST
 */

.post_title {
  color: darken($color-2, 10%);
}

.meta {
  .date, .category, .tags {
    font-style: italic;
  }
}

/**
 * $MISC
 */

.highlight {
  color: $color-1;
}

.archive, .home {
  .split__detail {
    color: $color-1;
  }
}

.meta--info {
  background: lighten(rgba($color-2, 0.15), 50%);
  border-radius: 5px;
}

.note {
  background: rgba($color-2, 0.15);
  border-bottom: 1px solid rgba($color-2, 0.25);
}

blockquote {
  border-left: 0.25rem solid lighten($color-1, 20%);
  padding-left: 1rem;
  margin-left: 1rem;
  @include vendor(transition, border-color 250ms linear);
  &:hover {
    border-color: $color-1;
  }
}

::selection, ::-moz-selection, ::-webkit-selection {
  color: #FAFAFA;
  background: lighten($gray, 10%);
}

.full-width {
  width: 100%;
}

.zen-space {
  background: $color-1;
  height: 5px;
}

/**
 * $MEDIA_QUERIES
 */

@include media-query(portable) {
  .logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
  }
  .portable-nav--stacked {
    text-align:center;
  }
  .portable-text-cols--1 {
    @include vendor(column-count, 1);
  }
  .navbar {
    .nav {
      float: none;
    }
    margin-top: 0;
  }
}

@include media-query(palm) {
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .split {
    text-align: left;
    .split__detail {
      color: #999;
      margin-left: 0;
      &::before {
        content: "-";
        margin-left: 0.5rem;
      } 
    }
  }
  .img--short{
    height: auto;
      max-height:5 * $base-spacing-unit;
  }
  .img--medium{
    height: auto;
      max-height:10 * $base-spacing-unit;
  }
  .img--tall{
    height: auto;
      max-height:15 * $base-spacing-unit;
  }
}

/**
 * $RESUME
 */

.resume {
}

/**
 * BOASTFUL
 */

.boastful {
  display: inline;
  font-family: $headings;
  img{
    width: 48px;
    height: 48px;
    margin: 3px;
    border: 0;
    border-radius: 7px 0 7px 0;
  }
  .boastful_pointer{
    position: absolute;
    z-index: 999;
    left: -9999px;
    opacity: .7;
    display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
    border-top: 0;
  }
  .boastful_tweet{
    position: absolute;
    z-index: 999;
    left: -9999px;
    background-color: $gray;
    opacity: .8;
    padding: 5px;
    width: 250px;
    @include font-size($base-font-size * 0.8);
    text-shadow: 1px 1px 0 #000;
    color: #eee;
    border-radius: 7px;
  }
  .boastful_handle{
    @include font-size($base-font-size * 0.9);
    font-weight: bold;
  }
}

/**
 * GitHub theme
 * for rainbow.js
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
  border: 1px solid #ccc;
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
  margin-bottom: 20px;
  code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  .comment {
    color: #998;
  }
  .support {
    color: #0086B3;
  }
  .tag, .tag-name {
    color: navy;
  }
  .keyword, .css-property, .vendor-fix, .sass, .class, .id, .css-value, .entity.function, .storage.function {
    font-weight: bold;
  }
  .css-property, .css-value, .vendor-prefix, .support.namespace {
    color: #333;
  }
  .constant.numeric, .keyword.unit, .hex-color {
    font-weight: normal;
    color: #099;
  }
  .entity.class {
    color: #458;
  }
  .entity.id, .entity.function {
    color: #900;
  }
  .attribute, .variable {
    color: teal;
  }
  .string, .support.value  {
    font-weight: normal;
    color: #d14;
  }
  .regexp {
    color: #009926;
  }
}
code {
  border: 1px solid #eaeaea;
  margin: 0px 2px;
  padding: 0px 5px;
  font-size: 12px;
}
pre, code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
pre, pre code {
  font-size: 13px;
}