/*------------------------------------*\
#TYPE
\*------------------------------------*/
/**
 * Typographical base selectors.
 */
/**
 * Headings 1–6.
 */
@include headings() {
  @include font-weight(bold);
  color: $color-headings;
}
/**
 * Content
 */
@mixin content($size: 24px, $line-height: 36px) {
  @include font-size($size, $line-height);
  @include font-weight(light);
  color     : lighten($color-gray, 10%);
  text-align: justify;
}

p {
  @include content();
}
/**
 * A generic heading style which can be applied to any headings.
 */
.heading {
  @include font-size(22px);
}

.heading-sub {
  @include font-size(16px);
  @include font-weight(bold);
  margin-bottom: 0;
  color        : $color-heading-sub;
}
/**
 * Code-like elements.
 */
code,
kbd,
samp {
  @include font-size(14px);
  color      : $color-code;
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
/*
 * Font-weight for bold
 */
b,
strong {
  @include font-weight(semi-bold);
}
@mixin title-serif() {
  font-family: "Merriweather", "PT Serif", serif;
}