<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width" name="viewport">
  <meta content="{{ site.description }}" name="description">
  <meta content="aniket, pant, weblog, css, php, html, javascript, web development, code" name="keywords">

  {% if page.slug %}
  <title>{{ page.title }} | Aniket Pant's Website</title>
  {% else %}
  <title>{{ page.title }} | {{ site.name }}</title>
  {% endif %}

  <meta content="{{ author.name }}" name="author">
  <link href="https://plus.google.com/114828599949215633124/posts" rel="author">
  <meta content="@aniket_pant" name="twitter:site">
  <meta content="@aniket_pant" name="twitter:creator">

  <link href="/sitemap/index.xml" rel="sitemap" title="Sitemap" type="application/xml">
  <link href="{{ site.url }}{{ page.url }}" rel="canonical">

  <!-- open graph tags -->
  {% if page.slug == "home" %}
  <meta property="og:title" content="Aniket Pant" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="http://aniketpant.com" />
  <meta property="og:image" content="http://aniketpant.com/images/logo.jpg" />
  <meta property="og:site_name" content="Aniket Pant" />
  <meta property="fb:admins" content="714102934" />
  {% else %}
  <meta property="fb:app_id" content="465363156848461" />
  <meta property="og:type"   content="article" />
  <meta property="og:url"    content="{{ site.url}}{{ page.url }}" />
  <meta property="og:title"  content="{{ page.title }}" />
  <meta property="og:image"  content="http://aniketpant.com/images/logo.jpg" />
  {% endif %}

  <!-- stylesheets -->
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lato:300,400/Vollkorn:400,400i">

  <!-- feed -->
  <link rel="alternate" href="/feed/index.xml" title="{{ site.name }}" type="application/rss+xml">
</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <div class="wrapper">
    <div class="grid">
      <header class="grid__item  one-fifth  lap-one-third  palm-one-whole  header-container" role="banner">
        <div class="hollow"></div>
        <h1><a href="/" rel="nofollow" class="brand"><span class="part--former weight--light">Aniket</span> <span class="part--latter  weight--semibold">Pant</span></a></h1>
        <nav>
          <ul class="nav  nav--stacked  nav--block">
            <li><a href="/about">About</a></li><!--
            --><li><a href="/speaking">Speaking</a></li><!--
            --><li><a href="/archive">Archive</a></li>
          </ul>
        </nav>
        <p rel="google-authorship" class="accessibility">By Aniket Pant</p>
      </header><!--

      --><div class="grid__item  three-fifths  lap-two-thirds  push--desk-one-fifth  palm-one-whole  main-container">
        <section class="grid">
        {{ content }}
        </section>
      </div><!--

      --><div class="grid__item  one-whole  palm-one-whole  footer-container">
        <footer role="contentinfo">
          <a href="https://plus.google.com/114828599949215633124?rel=author" class="accessibility">Google +</a>
        </footer> <!-- footer -->
      </div> <!-- footer-container -->
    </div>
  </div>

  <script type="text/javascript">
    // Segment.io
    window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
    window.analytics.load("qlxj9aav9n");
    window.analytics.page();

    // Twitter Widget
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>

</body>
</html>
