---
layout: base
---
<div class="page {{ page.slug }}">
	{% if page.slug != 'home' %}
	<header class="">
		<h1 class="">{{ page.title }}</h1>
	</header>
	{% endif %}
	<div class="accessibility" itemscope itemtype="http://schema.org/Person">
		<span itemprop="name">Aniket Pant</span>
		<img src="../assets/images/me-again.jpg" itemprop="image" />
		<a href="mailto:me@aniketpant.com" itemprop="email">me@aniketpant.com</a>
    <a href="http://www.aniketpant.com" itemprop="url">aniketpant.com</a>
	</div>
	<article class="" role="main">
		{{ content }}
	</article>
</div><!-- page -->
