---
layout: base
---

<div class="poetry">

  <header>
    <h1 class="title--post">{{ page.title }}</h1>
    <p class="muted">Written on {{ page.date | date_to_long_string }}</p>
  </header>

  <article role="main">
    {{ content }}
  </article>

  <p><a href="https://twitter.com/share" class="twitter-share-button" data-via="noremap" data-related="noremap">Tweet</a></p>

  <footer class="box  box--highlite">
    <p>The above poem was brought to you by <strong>Aniket</strong>.</p>
    <p><a href="https://twitter.com/noremap" class="twitter-follow-button" data-show-count="true">Follow @noremap</a></p>
  </footer>

</div><!-- poem -->
