---
layout: default
---
<div class="g one-whole page {{page.slug}}" itemscope itemtype="http://schema.org/Event">
	<header class="g one-third">
		<h1 class="page_title" itemprop="name"><a href="{{ page.link }}"  itemprop="url">{{ page.title }}</a></h1>
		<p class="lead">I spoke on <span class="highlight">{{ page.topic }}</span>.</p>
		<div class="meta"><meta itemprop="startDate" content="{{ page.date | date_to_xmlschema }}">On <date class="date">{{ page.date | date_to_long_string }}</date></div>
	</header>
	<article class="g two-thirds">
	{{ content }}  
	</article>
</div><!-- talk -->
