/**
 * Layout
 */

body {
  padding-left: 1rem;
  padding-right: 1rem;
  background: $light-gray;
}

.wrapper {
  width: 60rem;
  margin: 0 auto;
  @include media-query(portable) {
    width: 100%;
  }
}

@include media-query(desk) {
  .main-container {
    padding-top: 10rem;
  }
}