/**
 * Links
 */

a, a:visited {
  color: $primary;
  text-decoration: none;
  font-weight: 400;
  transition: all 250ms linear;
  &:hover {
    text-decoration: underline;
  }
}

.block-list__link {
  border-bottom: none;
}