/**
 * Typography
 */

body {
  font-family: $content;
  font-weight: 300;

  color: $dark-gray;
}

p {
  line-height: 1.5;
}

@include headings(1, 6) {
  font-weight: 700;
}

b,
strong {
  font-weight: 500;
}

pre,
code {
  font-family: 'monaco', monospace;
  @include font-size($base-font-size * 0.8);
}

.lead {
  @include font-size($base-font-size * 1.25, false);
  line-height: 1.5;
}

blockquote {
  @include font-size($base-font-size * 1.15);
  font-style: italic;
}