/**
 * Typography
 */

body {
  font-family: $font-serif;
  font-weight: 300;

  color: $dark-gray;
}

p {
  line-height: 1.5;
}

@include headings(1, 6) {
  font-family: $font-sans;
  font-weight: 300;

  color: $secondary;
}

h2,
.beta {
  @include font-size($base-font-size * 1.4, false);
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

b,
strong {
  font-weight: 400;
}

pre,
code {
  font-family: 'monaco', monospace;
  @include font-size($base-font-size * 0.8);
}

.lead {
  @include font-size($base-font-size * 1.25, false);
  line-height: 1.5;
}

blockquote {
  font-family: $font-serif;
  @include font-size($base-font-size * 1.15, true);
}
